$font-stack: 'Figtree', sans-serif;
$font-weight-bold: 800;
$font-weight-regular: 600;
$font-size: 16px;
$border-raidus: 1em;
$padding: 1.3em;

$primary-clr: hsl(0, 0%, 7%);
$secondary-clr: hsl(47, 88%, 63%);
$light-clr: hsl(0, 0%, 100%);
$accent-clr: hsl(0, 0%, 50%);